* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

h1, form, .center {
    text-align: center;
}

input {
    padding: 3px;
    margin: 2px;
}

.cell {
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    line-height: 40px;
    font-family: arial;
    color: #fff;
}

.desert {
    background-color: #dd0;
}

.water {
    background-color: #119;
}

.forest {
    background-color: #150;
}

.plain {
    background-color: #190;;
}

.mountain {
    background-color: #777;
}

.row {
    float: none;
    height: 40px;
}

#map-wrapper {
    margin: auto;
    width: fit-content;
}